<h2>{{ section.settings.heading1 }}</h2>
{{ section.settings.content }}
          
{% schema %}
  {
    "name": "Indication",
    "settings": [		
      {
        "type": "text",
        "id": "heading1",
        "label": "Heading",
        "default": "Indication"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content",
        "default": "<p>The Balance Pain Capsules use ancient ayurvedic formulations to alleviate stress, exhaustion, and body aches due to a sedentary urban lifestyle. It eases out the body and is particularly useful in arthritis, muscle pain, torn ligaments, tendons, and inflammation in joints. It is treated with a blend of herbal ingredients it relaxes the nervous tissues, tones muscles, and helps you get rid of pains due to fatigue and the stresses of a sedentary lifestyle.</p>"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
