<div class="slideshow-container">
{% if section.settings.first_slider != blank %}
  <div class="mySlides">
    <p class="content_pp">{{ section.settings.first_slider }}</p>
   
  </div>
{% endif %}
{% if section.settings.second_slider != blank %}
  <div class="mySlides">
    <p class="content_pp">{{ section.settings.second_slider }}</p>
   
  </div>
  {% endif %}
{% if section.settings.Third_slider != blank %}
  <div class="mySlides">
    <p class="content_pp">{{ section.settings.Third_slider }}</p>
   
  </div>
{% endif %}
  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>

</div>

<div class="dot-container">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>
<style>
  section#hero--slideshow {
    padding-top: 40px !important;
}
   @media (max-width: 740px) {
p.content_pp{
      margin-bottom: 0px;
    font-size: 12px;
    padding-block: 8px;

        color: #FFFCF1;
        background-color: #C38359;
}
     
   }
    @media (min-width: 741px) {
  p.content_pp {
    margin-bottom:0px;
    font-size:16px;
    padding-block: 5px;

        color: #FFFCF1;
        background-color: #C38359;
}
    }
/* Slideshow container */
.slideshow-container {
     color: #ad683f;
    background-color: #faf3e5;
}

/* Slides */
.mySlides {
  display: none;

  text-align: center;
}
@media only and screen(max-width:600px){
  
  .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 13px !Important;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -25px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 13px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  display:none;
    text-align: center;
    padding: 20px;
    background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}
  
</style>
<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}

window.onload= function () {
  setInterval(function(){ 
     plusSlides(1);
  }, 3000);
 }

  
</script>



{% schema %}
    {
    "name": "Custom Announcement",
    "settings": [
        {
      "id": "first_slider",
      "type": "text",
      "label": "Text1",
      "default": "Call attention to a special discount, feature, or promotion here."
    },
           {
      "id": "second_slider",
      "type": "text",
      "label": "Text2",
      "default": "Call attention to a special discount, feature, or promotion here."
    },   
      {
      "id": "Third_slider",
      "type": "text",
      "label": "Text3",
      "default": "Call attention to a special discount, feature, or promotion here."
    }
  ],
       "presets": [
      {
        "name": "Announcement Bar Text",
        "category": "V. Text"
      }
    ]
 } 
{% endschema %} 


















