<div class="ami-pdreviewsec">
  <div class="container">
    <div id="shopify-product-reviews" data-id="{{ product.id }}">{{ product.metafields.spr.reviews }}</div>
  </div>
</div>
  {% schema %}
  {
    "name": "Reviews",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
