<div class="body" style="background: #fdf4ea;">
  <div class="text-box faq-top-heading text-center read_more_sec">
    <h3></h3>
    <h2>What Is Balance Ayurveda?</h2>
  </div>
  <div class="read_more_short">
    <h2>
      In today’s day and age, maintaining a balanced life is becoming increasingly important for every individual’s
      personal health and well-being. Bringing this balance and sustaining it throughout our lives is what we, at
      Balance Ayurveda specialize in, with our range of unadulterated ayurvedic products.
    </h2>
    <details class="read_mor">
      <summary>
        <span id="open">Read more</span>
        <span id="close">Close</span>
      </summary>
      <h4>
        <p>
          Balance Ayurveda products are curated with the purest elements and backed by the oldest medicinal system in
          the world to provide effective medical benefits as well as nutritional replenishment.
        </p>
        <p>
          With a potent and natural plethora of Ayurvedic products, we help you strike a balance between your state of
          physical, mental, and spiritual well-being.
        </p>
        <p></p>
        <p>
          <strong>What Are Doshas And How Do They Determine Our Health?</strong><br>
          Ayurveda has maintained since ancient times that there are three core categories or types of substances that
          are believed to be present in a person's body and mind. These are referred to as ‘Doshas’.
        </p>
        <p>
          At birth, each being is born with a set of characteristics, known as their ‘Prakriti’, which consists of the
          three Doshas- namely Vata, Pitta, and Kapha. These doshas are believed to be responsible for a person’s
          physiological, mental, and emotional health, and each person’s unique ratio of Vata, Kapha, and Pitta is said
          to define their Ayurvedic constitution.
        </p>
        <p>
          <strong>The Vata Dosha<br></strong>Starting with the first Dosha, Vata represents the two elements of air and
          space (ether) and is generally described as cold, light, dry, rough, flowing, and spacious. Usually described
          as slim, energetic, and creative, people with an overactive Vata are known for thinking outside the box but
          can become easily distracted. People with an overactive Vata are likely to be more forgetful, anxious, moody,
          highly sensitive to the cold, have trouble sleeping, have an irregular appetite and eating patterns, and are
          more prone to digestive issues and gas, and poor circulation.
        </p>
        <p>
          An overactive Vata, when identified, can be effectively treated using selected Balance Ayurveda products that
          help manage issues related to a prominent Vata dosha.
        </p>
        <p>
          <strong>The Pitta Dosha</strong><br>
          Based on the element of fire, people with prominent Pitta doshas are known to be highly motivated,
          goal-oriented, and competitive. But, governed by heat, their aggressive and tenacious nature can lead to
          conflict. On the plus side, people with a Pitta Dosha have a quick metabolism, good circulation, and healthy
          skin, and hair, but on the flip side, they are impatient, prone to conflict, prone to acne and inflammation,
          and sensitive to hot temperatures.&nbsp;
        </p>
        <p>
          Those with pitta-dominant dosha must focus on work-life balance and avoid extreme heat, along with the right
          Balance Ayurveda products to manage their health.
        </p>
        <p>
          <strong>The Kapha Dosha</strong><br>
          Representing the operations of Water and Earth energy, people with this dosha are described as strong,
          thick-boned, and caring. They rarely get upset, think before acting, and go through life in a slow, deliberate
          manner. Although they have a healthy immune system, they are prone to weight gain, slow metabolism,
          sluggishness, over-sleeping, breathing issues, higher risk of heart disease, and mucus buildup, and
          depression.
        </p>
        <p>
          Along with the help of Balance Ayurveda’s Ayurvedic products online, a Kapha-dominant person should focus on
          regular exercise, a healthy diet, and maintaining a warm body temperature.
        </p>
        <p>
          <strong>Dosha Management</strong><br>
          Now that we know what the 3 Doshas stand for, managing dosha imbalance in the body is what we, at Balance
          Ayurveda help you with. Using naturally-grown, unadulterated ingredients sourced from all over India, we
          address the symptoms caused by the imbalance in your doshas and aim to uproot them with all the tender love
          and care of mindfully-concocted Ayurvedic products in order to attain a perfect balance for your mind, body,
          and soul.&nbsp;
        </p>
        <p>
          <strong>Balance Ayurveda’s Leading Ayurvedic Products</strong><br>
          Sourced organically from Mother Earth, Balance Ayurveda’s extensive range of Ayurvedic products online are
          concocted to provide an answer to numerous medical ailments. Our cornucopia of unadulterated products also
          provides a holistic nutritional boost that works in tandem with your modern lifestyle, aiming to create a
          balance amidst the bustle.
        </p>
        <p>
          <strong>Hair Care</strong>: Balance Ayurveda hair care features a range of three carefully-curated products
          that include Hair Malt, Hair Capsules, and Hair Oil, all of which focus on making your scalp thoroughly
          nourished and your hair a lot healthier.&nbsp;
        </p>
        <p>
          <strong>Pain Care</strong>: Balance Ayurveda’s primary motive is to contribute to pain management through the
          most natural of ingredients, without having to put anything at risk. Ruling out the possibility of side
          effects, we have created natural, unadulterated pain management products including a pain relief potli, pain
          malt, pain oil, and pain capsules.
        </p>
        <p>
          <strong>Lung Care</strong>: Respiratory ailments can put your lungs under stress, which is why Balance
          Ayurveda has created two extraordinary products that assure much-needed relief during a bad cough. The Balance
          Ayurveda lung care cough powder and cough syrup are made using all-natural ingredients that soothe the throat
          and relieve the pressure on your lungs.
        </p>
        <p>
          <strong>Immunity Care</strong>: Balance Ayurveda immunity care comes in the form of four unique products that
          target the overall health and well-being of your immune system- making it less prone to illnesses and
          ailments. Our immunity-boosting product range includes immunity malt, drops, capsules, and a Swasthya Potli!
        </p>
        <p>
          <strong>Stomach Care</strong>: Good health starts with a good gut, and we at Balance Ayurveda believe that to
          be exceedingly true. To make our guts a whole lot stronger, we have come up with a range of three digestive
          products that include Pachan Malt, Pachan Tonic, and Pachan Capsules.
        </p>
        <p>
          <strong>Stress Care</strong>: When it comes to striking a balance, how could we possibly leave out mental
          well-being? At Balance Ayurveda, we have and will always empathize with the stress you go through daily. Our
          aim is to help you release some of it with the help of our Stress Malt and Stress Capsules.&nbsp;
        </p>
        <p>
          <strong>Sugar Care</strong>: Ayurveda for diabetes is a sustainable sugar management boon like no other, which
          is why we, at Balance Ayurveda India have created natural Diabetes medications including Diabetes Malt, Drops,
          and Capsules that help keep your sugar in check, while minimizing the risk of side effects.
        </p>
        <p>
          <strong>Piles Care</strong>: Working a sedentary 9 to 5 job at the desk has put most of us at risk of painful
          piles, which are difficult to cure. To ensure these ailments don’t take too long to go away, we have
          formulated two effective piles products including malt and capsules, both of which help manage the pain and
          bring in some much-needed relief.
        </p>
        <p>
          <strong>Man Care</strong>: When it comes to Ayurvedic products for men, very few products dig deep into what
          men really need. At Balance Ayurveda India, we’ve cracked the code on what men want for their bodies, with
          three excellent products including an all-natural beard oil, Man Malt, and Man Capsules.&nbsp;
        </p>
        <p>
          <strong>Woman Care</strong>: Dealing with the many complexities of life is what women do every single day of
          their lives, and we at Balance Ayurveda just want to make their lives a tiny bit easier. To ensure optimal
          menstrual and reproductive health as well as overall well-being, we have created a health tonic, capsules, and
          two special malts for all those wonderful women out there.
        </p>
        <p>
          <strong>Liver Care</strong>: The importance of the Liver is often undermined until a problem is uncovered. To
          ensure the optimal health and functioning of your liver, we have created a set of three natural liver care
          products including a liver malt, liver capsules, and a liver tonic.
        </p>
        <p>
          <strong>Heart Care</strong>: Caring for the heart is caring for life itself. At Balance Ayurveda India, we
          have formulated two ayurvedic heart care products including malt and capsules that work wonders for your
          heart.
        </p>
      </h4>
    </details>
  </div>
</div>
<style>
    details.read_mor strong {
      font-weight: 500;
      color: #ad683f;
  }
    details.read_mor p {
      margin-bottom: 20px !important;
  }
  @media (max-width:730px){
  .text-box.faq-top-heading.text-center.read_more_sec {
      padding-left: 5rem;
  }
    .read_more_short{
      padding:0 5rem !Important;
    }
  }
    details.read_mor {
      display: block;
  }
    .body{
      padding-bottom:40px;
    }
    .read_more_short {
      padding: 0rem 15rem;
      display: block;
  }
  .read_more_short h2, h4 {
      font-size: 2.1rem;
      line-height: 1.35;
      color: #454545;
      font-weight: 400;
      opacity: .85;
      padding-bottom: 20px;
  }
  /*.body{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    grid-column-gap: 10px;
  }
  .body.-open{
    display: block;
  }
  */

  h2, details{
    display:inline;
  }

  details {
    position:relative;
  }
  details summary {
    display:block;
    cursor: pointer;
    color: red;
  }
  details summary:focus {
    outline:none;
  }
  details[open] {
    display:block;
    padding-bottom:25px;
    padding-top:10px;
    animation: open .2s linear;
  }
  details[open] summary {
    position:absolute;
    bottom: 0;
    left:0;
  }

  details #open{padding-left: 5px;
      text-align: middle;
      color: #454545;
      font-size: 21px;
      margin-top: 20px !important;
      display: block;
      text-decoration: underline;}
  details #open:after{
      display: inline-block;
      position:relative;
      top: -3px;
      padding-left: 8px;
      content: "\00bb";
      transform: rotate(90deg);
  }
  details[open] #open{display:none;}
  details #close{display:none;}
  details[open] #close{display:block;
      text-align: middle;
      color: #454545;
      font-size: 21px;
      margin-top: 20px !important;
                       text-decoration: underline;}

  ::-webkit-details-marker {display: none;}





  @keyframes open {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
{% schema %}
{
  "name": "Read More Section",
  "settings": [],
  "presets": [
{
	"category": "Text",
	"name": "Read More"
}
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
