<div class="responsive-two-column-grid">
    <div style="padding:0px;">
    <a href="{{ section.settings.first_link }}">    
      <img style="width:100%;" src="{{ section.settings.first_img | img_url: 'original' }}">
      </a>
    </div> 
    <div style="padding:0px;">
      
    <a href="{{ section.settings.second_link }}">    
      
      <img style="width:100%;" src="{{ section.settings.second_img | img_url: 'original' }}">
    </a>
    </div>
</div>

<style>
  .responsive-two-column-grid {
    display:block;
}
  .responsive-two-column-grid img {
    height:100%;
}
  

/* columns */
.responsive-two-column-grid > * {
    padding:1rem;
}

/* tablet breakpoint */
@media (min-width:768px) {
    .responsive-two-column-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
</style>
{% schema %}
  {
    "name": "Image two Set",
    "settings": [
      	{
					"type": "image_picker",
					"id": "first_img",
					"label": "Image"
				},
      {
					"type": "url",
					"id": "first_link",
					"label": "Image Link"
				},
      	{
					"type": "image_picker",
					"id": "second_img",
					"label": "Image"
				},
        {
					"type": "url",
					"id": "second_link",
					"label": "Image Link 2"
				}
    ],
    "presets": [
		{
			"category": "Image",
			"name": "Image Set"
        }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}