{% section 'blogsbanner' %}
<div class="bloglistingsec pddescriptionall">
  <div class="pddescriptionallinnr bloglistingsecinnr">
    <div class="stickyblogtabs">
      <div class="container">
        {% section 'featured-blogtabs' %}
      </div>
    </div>
        {% section 'comingsoon' %}
    <div class="bloglistingsecinnr">
      <div class="container">
        {% section 'featured-blog' %}
        {% section 'featured-blog2' %}
        {% section 'featured-blog3' %}
        {% section 'featured-blog4' %}
        {% section 'featured-blog5' %}
        {% section 'featured-blog6' %}
        {% section 'featured-blog7' %}
        {% section 'featured-blog8' %}
        {% section 'featured-blog9' %}
        {% section 'featured-blog10' %}
        {% section 'featured-blog11' %}
        {% section 'featured-blog12' %}
      </div>
    </div>
  </div>
</div>
{% section 'blogcollectionlist' %}